<header class="container-fluid no-gutters p-0 bg-blue">
    <div class="row no-gutters">
        <div class="col-12 py-4 px-3 text-center text-white clearfix">
            <div class="d-inline-block big-text">
                Dashboard
            </div>
            <div class="float-right d-inline-block ">
                <ion-icon class="big-text align-middle" name="person"></ion-icon>
                <span class="f-medium align-middle small-text ">Admin</span>
            </div>

        </div>
    </div>
</header>