<footer>
    <div class="container no-gutters not-active px-3 py-3 big-text mx-auto">
        <div class="row no-gutters d-flex justify-content-between align-items-center">
            <div>
                <a class="logo active f-semibold" href="#">
                    Flinto
                </a>
            </div>
            <div class="d-flex flex-column">
                <span>Flinto 2018. All rights reserved. <a class="blue underline" href="#">About.</a> <a
                        class="blue underline" href="#">Contacts.</a></span>
            </div>
            <div class="mt-2">
                <a class="mr-1" href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a class="mr-1" href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a class="mr-1" href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-pinterest"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</footer>