<div>
    Refund Policy<br><br>-----<br><br>▶︎I gladly accept exchanges and cancellations<br><br>•Contact me within: 7 days of
    delivery<br><br>•Ship items back within: 30 days of delivery<br><br>•Request a cancellation within: 24 hours of
    purchase<br><br>▶︎I don't accept returns<br><br>But please contact me via email to Contact.rebco@gmail.com if you
    have any problems with your order.<br><br>▶︎The following items can't be returned or exchanged<br><br>Because of the
    nature of these items, unless they arrive damaged or defective, I can't accept returns for:<br><br>•Custom or
    personalized orders<br>•Perishable products (like food or flowers)<br>•Intimate items (for health/hygiene
    reasons)<br><br>▶︎Conditions of return<br>•Buyers are responsible for return shipping costs. If the item is not
    returned in its original condition, the buyer is responsible for any loss in value.
</div>