@import "libs/helpers"
@import "libs/typo"

body
  font-family: 'Poppins', sans-serif
  font-weight: 400
  font-size: 14px
  background-color: a_light;

a:hover
  text-decoration: none;

.bg-blue
  background-color: a_blue

.bg-green
  background-color: a_green

.bg-dark
  background-color: a_dark

.bg-black
  background-color: a_black

.bg-red
  background-color: a_red

.nav-panel a, .nav-panel div a
  color: white
  padding: 1rem 1.5rem!important
  width: 100%
  display: flex
  justify-content: space-between!important;

.image-bg
  background-color: #f0f1f3

.square-bg
  width: 100%
  padding-bottom: 90%
  background-size: cover
  background-position: center