@import "functions"

spaces('p', 'padding')
spaces('pt', 'padding-top')
spaces('pb', 'padding-bottom')
spaces('pl', 'padding-left')
spaces('pr', 'padding-right')

spaces('px', 'padding-left', 'padding-right')
spaces('py', 'padding-top', 'padding-bottom')

spaces('m', 'margin')
spaces('mt', 'margin-top')
spaces('mb', 'margin-bottom')
spaces('ml', 'margin-left')
spaces('mr', 'margin-right')

spaces('mx', 'margin-left', 'margin-right')
spaces('my', 'margin-top', 'margin-bottom')

sizes('w', 'width')
sizes('h', 'height')


@font-face
  font-family Emerald
  font-style normal
  src url(../../fonts/emerald.ttf)