.f-light
  font-weight: 300

.f-regular
  font-weight: 400

.f-medium
  font-weight: 500

.f-semibold
  font-weight: 600

.big-text
  font-size: 18px

.very-big-text
  font-size: 22px

.medium-text
  font-size: 16px

.regular-text
  font-size: 14px

.small-text
  font-size: 12px

.header-text
  font-size: 60px

.header-2-text
  font-size: 40px

.sub-header-text
  font-size: 28px