
$spacer = 0.5rem

$spaces = 6 7 8 9 10

$sizer = range(10, 100, 10)

red = #ff3b30
yellow = #fdd835
blue= #007aff
green = #4cd964
gray = #f0f1f3

a_light = #f1f2f2
a_blue = #188ae2
a_red = #ff5b5b
a_green = #10c469
a_dark = #414042
a_black = #313131
