<header class="image-bg">
    {{>nav}}
</header>
<main class="mt-4 ">
    <div class="container no-gutters px-3 mx-auto">
        <div class="row no-gutters h-100">
            <div class="col-12 text-center h-100 align-middle py-10">
                <span class="header-text"><ion-icon name="alert"></ion-icon></span>
                <h1 class="header-text emerald">404 not found</h1>
                <span>Oops, sorry we can't found anything here...</span>
            </div>
        </div>
    </div>
</main>