{{>search}}
<header>
    {{>nav}}
</header>
<main class=" mx-auto active">
    <div class="image-bg pt-4 pb-10">
        <div class="container px-3 mx-auto">
            <div class="text-left mb-3">
                <a href="#"><span class="not-active">< Back to Clothes</span></a>
            </div>
            <div class="row no-gutters">
                <div class="order-2 order-md-1 col-12 col-md-1">
                    <div class="row no-gutters">
                        <div class="col-3 col-md-12  mb-2 pr-md-0 pr-1">
                            <div class="yellow-bg square-bg">

                            </div>
                        </div>
                        <div class="col-3 col-md-12 mb-2 pr-md-0 pr-1">
                            <div class="yellow-bg square-bg">

                            </div>
                        </div>
                        <div class="col-3 col-md-12  mb-2 pr-md-0 pr-1">
                            <div class="yellow-bg square-bg">

                            </div>
                        </div>
                        <div class="col-3 col-md-12 mb-2 pr-md-0 pr-1">
                            <div class="yellow-bg square-bg">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none col-12">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="f-medium blue">DRESS</a>
                        <div>
                            <div class="yellow big-text stars d-inline-block align-middle">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star-half"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                            </div>
                            <div class="d-inline-block small-text">&nbsp;(5 reviews)</div>
                        </div>

                    </div>

                    <h1 class="sub-header-text">Long lace dress</h1>
                </div>
                <div class="order-1 order-md-2 col-12 col-md-6">
                    <div class="pl-md-2 pr-md-5">
                        <div class="yellow-bg w-100 square-bg position-relative mb-2">
                            <div class="new position-absolute">
                                NEW
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-3 order-md-3 col-12 col-md-5">
                    <div class="d-none d-md-block">
                        <a href="#" class="f-medium blue">DRESS</a>
                        <h1 class="sub-header-text">Long lace dress</h1>
                        <div class="yellow big-text stars d-inline-block align-middle">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <div class="d-inline-block small-text">&nbsp;(5 reviews)</div>
                    </div>
                    <div>

                        <div class="mt-3 not-active  big-text">$ 49.00</div>
                        <div class="mt-3 not-active">Available: &nbsp;<span class="green f-medium">In stock</span></div>
                        <div class="mt-2">
                            <p class="f-medium">
                                There are many variations of passages available, but the majority have suffered
                                alteration in some form, by injected humour.
                            </p>
                        </div>
                        <div class="mt-4 row no-gutters d-flex justify-content-between">
                            <div class="col-12 col-lg-5 d-flex mb-3 mt-1 justify-content-lg-start justify-content-center align-items-center">
                                <a href="javascript:void(0)"
                                   class="add2cart-side border-right rounded-0 big-text bg-white">
                                    -
                                </a>
                                <div class="add2cart-center bg-white f-medium rounded-0 px-4">
                                    <span class="px-1" id="itemsCount">1</span>
                                </div>
                                <a href="javascript:void(0)"
                                   class="add2cart-side border-left rounded-0 bg-white big-text">
                                    +
                                </a>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="add2cart-item btn text-uppercase black-bg white rounded-0 small-text w-100">
                                    Add to card
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-2 mt-4">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="d-flex justify-content-center not-active">
                    <div role="button"
                         class="pointer d-inline-block  f-medium medium-text pb-2 px-3  border-bottom border-primary blue">
                        Description
                    </div>
                    <div role="button" class="pointer d-inline-block f-medium medium-text pb-2 px-3">
                        Size
                    </div>
                    <div role="button" class="pointer d-inline-block f-medium medium-text pb-2 px-3">
                        Reviews<span class="small-text"> (5)</span>
                    </div>
                </div>

                <hr class="hrmrm">
            </div>

        </div>
        <div class="row no-gutters mt-4">
            <div class="col-12 very-big-text f-medium text-center mb-2">
                <span>Description</span>
            </div>
            <p>
                Score a wardrobe win no matter the dress code with our Flinto Collection own-label collection.
                From polished prom to the after party, our London-based design team scour the globe to nail your
                new-season fashion goals with need-right-now dresses, outerwear, shoes and denim in the coolest.
            </p>
        </div>
    </div>

    <div class="container mx-auto px-3 mt-4">
        <div class="row no-gutters">
            <div class="col-12 very-big-text f-medium text-center mb-2">
                <span>Complite your Look</span>
            </div>
        </div>
        <div class="row no-gutters mt-2">
            <div class="col-md-5 d-none d-md-block">
                <div class="h-100 image-bg">
                </div>
            </div>
            <div class="col-12 d-block d-md-none pb-2">
                <div class="square-bg image-bg">
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="row no-gutters">
                    <div class="col-6 pr-1 pl-md-2 pr-md-0 pb-2">
                        <div class="image-bg square-bg">

                        </div>
                    </div>
                    <div class="col-6 pl-1 pl-md-2 pb-2">
                        <div class="image-bg square-bg">

                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-6 pr-1 pl-md-2 pr-md-0">
                        <div class="image-bg square-bg">

                        </div>
                    </div>
                    <div class="col-6 pl-1 pl-md-2">
                        <div class="image-bg square-bg">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container no-gutters f-medium not-active mx-auto text-center px-3">
        <div class="container mx-auto mt-5">
            <div class="row d-flex justify-content-center justify-content-md-between">
                <div class="col-10 col-md-3 col-lg-2 px-1 text-center border-right mb-3">
                    <div>
                        <img class="img-advantage" src="images/truck.png"/>
                    </div>
                    <div class="mt-3">
                        <span class=" f-medium not-active">Free shipping</span>
                    </div>
                </div>
                <div class="col-10 col-md-3 col-lg-2 px-1 text-center mb-3">
                    <div>
                        <img class="img-advantage" src="images/support.png"/>
                    </div>
                    <div class="mt-3">
                        <span class=" f-medium not-active">Support Customers</span>
                    </div>
                </div>
                <div class="col-10 col-md-3 col-lg-2 px-1 text-center border-left mb-3">
                    <div>
                        <img class="img-advantage" src="images/shield.png"/>
                    </div>
                    <div class="mt-3">
                        <span class=" f-medium not-active">Secure Payments</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-4">
        <div class="row no-gutters small-text active">
            <div class="col-12 text-left text-md-center col-md-4">
                <span class="f-semibold">SKU: <span class="f-regular not-active">11111</span> </span>
            </div>
            <div class="col-12 text-left text-md-center col-md-4">
                <span class="f-semibold">Category: <span class="f-regular not-active">Clothes</span> </span>
            </div>
            <div class="col-12 text-left text-md-center col-md-4">
                <span class="f-semibold">Tags: <span class="f-regular not-active">Fashion, minimal, clean</span> </span>
            </div>
        </div>
        <hr>

        <div class="row no-gutters mt-5 active">
            <div class="col-12 very-big-text f-medium text-center mb-2 ">
                <span>Description</span>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3">
                <div class="image-bg square-bg position-relative">
                    <div class="sale position-absolute">
                        sale
                    </div>
                </div>
                <div class="text-center">
                    <span class="big-text">Barton Sunglasses</span>
                    <br>
                    <span class="not-active">194.00 USD</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3">
                <div class="image-bg square-bg position-relative">

                </div>
                <div class="text-center">
                    <span class="big-text">Barton Sunglasses</span>
                    <br>
                    <span class="not-active">194.00 USD</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3">
                <div class="image-bg square-bg position-relative">
                    <div class="hot position-absolute">
                        hot
                    </div>
                    <div class="position-absolute add2cart text-center">
                        <a class="bg-white p-3" href="javascript:void(0)">
                                                <span>ADD TO CART &nbsp; | &nbsp; <ion-icon class="align-top big-text"
                                                                                            name="heart-empty"></ion-icon></span>
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <span class="big-text">Barton Sunglasses</span>
                    <br>
                    <span class="not-active">194.00 USD</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-2 mb-3">
                <div class="image-bg square-bg position-relative">

                </div>
                <div class="text-center">
                    <span class="big-text">Barton Sunglasses</span>
                    <br>
                    <span class="not-active">194.00 USD</span>
                </div>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row no-gutters mt-2">
            <div class="col-md-6 col-lg-3 col-12 px-3 text-left mb-5">
                <div class="active f-semibold ">
                    <span>On Sale Products</span>
                </div>
                <hr>
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="image-bg square-bg">

                        </div>
                    </div>
                    <div class="col-8 pl-2">
                        <div>
                            <span class="active">Bog in Black Leather</span>
                        </div>
                        <div class="yellow big-text stars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <div>
                            <span>$349.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12 px-3 text-left mb-5">
                <div class="active f-semibold ">
                    <span>On Sale Products</span>
                </div>
                <hr>
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="image-bg square-bg">

                        </div>
                    </div>
                    <div class="col-8 pl-2">
                        <div>
                            <span class="active">Bog in Black Leather</span>
                        </div>
                        <div class="yellow big-text stars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <div>
                            <span>$349.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12 px-3 text-left mb-5">
                <div class="active f-semibold ">
                    <span>On Sale Products</span>
                </div>
                <hr>
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="image-bg square-bg">

                        </div>
                    </div>
                    <div class="col-8 pl-2">
                        <div>
                            <span class="active">Bog in Black Leather</span>
                        </div>
                        <div class="yellow big-text stars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <div>
                            <span>$349.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12 px-3 text-left mb-5">
                <div class="active f-semibold ">
                    <span>On Sale Products</span>
                </div>
                <hr>
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="image-bg square-bg">

                        </div>
                    </div>
                    <div class="col-8 pl-2">
                        <div>
                            <span class="active">Bog in Black Leather</span>
                        </div>
                        <div class="yellow big-text stars">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <div>
                            <span>$349.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-bg pt-5 pb-4 mt-3">
        <div class="container no-gutters mx-auto text-center">
            <div>
                <span class="sub-header-text">
                    Get Discount 30% Off
                </span>
                <br>
                <span>
                    Subscribe for our newsletters and get 30% discount!
                </span>
            </div>
            <div class="mt-4 row">
                <div class="col-12 col-md-10 col-lg-8 mx-auto">
                    <form action="" method="POST">
                        <div class="form-row">
                            <div class="form-group col-12 col-md-8">
                                <input type="email" class="rounded-0 form-control" id="email"
                                       placeholder="Enter your email address">
                            </div>
                            <div class="col-12 col-md-4">
                                <button type="submit" class="rounded-0 btn bg-red text-white w-100">Subscribe</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</main>
{{>footer}}