{{>search}}
<header class="image-bg">
    {{>nav}}
    <div class="mt-5 text-center pb-10 f-medium">
        <span class="mb-3 header-2-text f-light">Terms of privacy</span>
        <div class="not-active">
            <a href="#">Shop</a>
            <span> &nbsp; > &nbsp; </span>
            <a class="active" href="#">Terms of service</a>
        </div>
    </div>
</header>
<main class="mt-4 mx-auto">
    <div class="container no-gutters mx-auto px-3">
        <div class="row no-gutters">
            <div class="col-12 col-md-4 col-lg-3">
                <nav class=" not-active f-semibold image-bg px-3 py-3 mb-3">
                    <a class="d-block {{#ifCond tab 'terms'}}active{{/ifCond}} mt-1 mr-3" href="/qa/terms">
                        Terms of service
                    </a>
                    <a class="d-block {{#ifCond tab 'refund'}}active{{/ifCond}} mt-1 mr-3" href="/qa/refund">
                        Refund policy
                    </a>
                    <a class="d-block {{#ifCond tab 'privacy'}}active{{/ifCond}} mt-1 mr-3" href="/qa/privacy">
                        Privacy policy
                    </a>
                    <a class="d-block {{#ifCond tab 'about'}}active{{/ifCond}} mt-1 mr-3" href="/qa/about">
                        About us
                    </a>
                </nav>
            </div>
            <div class="col-12 col-md-8 col-lg-9 px-4">
                {{#ifCond tab 'privacy'}}
                    {{>privacy}}
                {{/ifCond}}
                {{#ifCond tab 'refund'}}
                    {{>refund}}
                {{/ifCond}}
                {{#ifCond tab 'terms'}}
                    {{>terms}}
                {{/ifCond}}
                {{#ifCond tab 'about'}}
                    {{>about}}
                {{/ifCond}}
            </div>
        </div>
    </div>
</main>
{{>footer}}