<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
</head>
<body class="h-100">
    {{{body}}}
</body>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
{{{afterBody}}}

</html>